/* style.css */
body {
    background-color: #f0f0f0;
}

.container {
    margin-top: 20px;
}

/* Apply styles to the card with a maximum width of 500px */
.card-max-width-500 {
    max-width: 500px;
}

/* Center the card horizontally on the page */
.center-card {
    margin: 0 auto;
}

.emoji-button {
    width: 70px;
    height: 70px;
    font-size: 35px;
}

.emoji-button.selected {
    background-color: #007bff;
}


/* Custom styling for the form and spinner */
#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

textarea.form-control {
  border-radius: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding: 0 10px;
}

input.btn.btn-primary {
  margin: 10px;
  border-radius: 50px !important;
}

span.input-group-text {
  /* width: 80px; */
  margin: 10px;
  border-radius: 50px !important;
}

.text-center{
    padding: 30px;
}

@media (min-width: 900px) {
    .container-small {
        margin: auto;
        width: 60%;
    }
} 