/* style.css */
body {
    background-color: #f0f0f0;
}

.container {
    margin-top: 20px;
}

/* Apply styles to the card with a maximum width of 500px */
.card-max-width-500 {
    max-width: 500px;
}

/* Center the card horizontally on the page */
.center-card {
    margin: 0 auto;
}

button.emoji-button {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    font-size: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.emoji-button.selected {
    background-color: #007bff;
}


/* Custom styling for the form and spinner */
#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}